
/* mobile-s: 600px */
@media screen and (min-width: 600px){
    :root{
    --width-sidebar: 150px;
    --col-categorie: 3;
    }

    .top-sidebar .logo-small{
        display: none;
    }

    .top-sidebar .logo-big{
        display: block;
    }

    .text{
        display: inline;
        font-size: 0.8rem;
        flex-grow: 1;
    }

    .top-sidebar .playlist{
        display: inline-block;
    }

    .bottom-sidebar .display {
        display: inline-block;
    }

    .bottom-sidebar{
    align-items: flex-start;
    gap: 20px;
    }
}
    



/* tablet-md: 700px */
@media screen and (min-width: 700px){
    :root{
        --col-categorie: 5;
        --col-music: 4;
    }
}


/* desktop-lg: 1100px  */
@media screen and (min-width: 1100px){
    :root{
        --col-categorie: 6;
        --col-music: 6;
    }
}