/* mobile-s: 600px */
@media screen and (min-width: 600px) {
    :root {
        --width-sidebar: 150px;
        --col-categorie: 3;
    }

    .top-sidebar .logo-small {
        display: none;
    }

    .top-sidebar .logo-big {
        display: block;
    }

    .text {
        display: inline;
        font-size: 0.8rem;
        flex-grow: 1;
    }

    .top-sidebar .playlist {
        display: inline-block;
    }

    .bottom-sidebar .display {
        display: inline-block;
    }

    .bottom-sidebar {
        align-items: flex-start;
        gap: 10px;
    }

    .footer .left .brano .nome {
        flex-direction: row;
        gap: 5px;
    }

    .footer .left {
        gap: 10px;
        align-items: center;
    }

    .footer .right {
        gap: 10px;
    }
}




/* tablet-md: 700px */
@media screen and (min-width: 700px) {
    :root {
        --col-categorie: 5;
        --col-music: 4;
    }

    .footer .left .icon {
        flex-direction: row;
        gap: 10px;
        margin-left: 20px;
    }

    .music .played {
        width: 50px;
        
    }

    .music .player {
        width: 200px
    }
}


/* desktop-lg: 1100px  */
@media screen and (min-width: 1100px) {
    :root {
        --col-categorie: 6;
        --col-music: 6;
    }

    .categorie li {
        width: auto;
        font-size: 1rem;
    }

    .footer {
        font-size: 1rem;
    }

    .top-sidebar .elemento {
        margin-bottom: 15px;
    }

    .top-sidebar .playlist {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .top-sidebar .playlist ul {
        font-size: 1rem;
        gap: 20px;
        max-height: 200px;
    }

    .crea-playlist i {
        height: 40px;
        width: 40px;
        font-size: 2rem;
        line-height: 40px;
    }
}