:root{
    --width-sidebar: 50px;
    --col-categorie: 4;
    --col-music: 2;
    --gap-categorie: 10px;
    --gap-music: 10px;
    --height-footer: 80px

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
/* Utilitys */

.flex-row{
    display: flex;
}

.tx-right{
    text-align: right;
}

.color-white{
    color: white;
}

.tx-gray{
    color: gray;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-30{
    padding-bottom: 30px;
}

.display{
    display: none;
}

.fw-700{
    font-weight: 700;
}
/* Main */

body{
    font-family: "Montserrat", sans-serif;
}

.main{
    height: calc(100% - var(--height-footer));

}

.footer{
    height: var(--height-footer);
    background-color: rgb(74, 74, 74);
    position: relative;
    z-index: 9999;
}

.sidebar{
    background-color: black;
    width: var(--width-sidebar);
    height: 100%;
    padding: 5px 10px;
}

.top-sidebar{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-sidebar .home{
    height: 30px;
}

.top-sidebar .elemento{
    align-items: center;
    gap: 10px;
}

.top-sidebar .logo{
    height: 30px;
    width: 30px;
}


.crea-playlist{
    font-size: 0.8rem;
    align-items: center;
    gap: 5px;
}

.crea-playlist i{
    background-color: gray;
    color:black;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 1.2rem;
}

.top-sidebar .playlist ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.7rem;
    max-height: 110px;
    overflow-y: auto;
}

.bottom-sidebar{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.bottom-sidebar div{
    display: flex;
    align-items: center;
    gap: 5px;
}



.bottom-sidebar .download img{
    height: 15px;
    width: 15px;
}

.bottom-sidebar .utente img{
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 50%;
}

.home{
    background-color: rgb(36, 35, 47);
    width: calc(100% - var(--width-sidebar));
    height: 100%;
    position: relative;
}

.home-header{
    height: 60px;
    width: calc(100% - var(--width-sidebar));
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 99999;
    padding: 0 10px;
}

.upgrade::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.upgrade h3{
    position: relative;
    z-index: 1;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 0.5rem;
    padding: 10px 25px;
}



.categorie ul{
    gap: var(--gap-categorie);
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}

.categorie li{
    height: 20px;
    width: calc(100% / var(--col-categorie) - (var(--gap-categorie) * ((var(--col-categorie) - 1 )) / var(--col-categorie)));
    /* debug */
    border: 1px solid white;
}

.home-main{
    height: 100%;
    overflow-y: scroll;
    padding: 10px 20px;
    padding-top: 80px;
}

.cartelle .griglia{
    gap: var(--gap-categorie);
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}

.cartelle .card{
    height: 100px;
    width: calc(100% / var(--col-music) - (var(--gap-music) * ((var(--col-music) - 1 )) / var(--col-music)));
    
    /* debug */
    border: 1px solid white;
}

.cartelle p{
    font-size: 0.5rem;
    color: gray;
}