:root {
    --width-sidebar: 50px;
    --col-categorie: 4;
    --col-music: 2;
    --gap-categorie: 10px;
    --gap-music: 10px;
    --height-footer: 60px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.wrapper {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

/* Utilitys */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.tx-right {
    text-align: right;
}

.color-white {
    color: white;
}

.tx-gray {
    color: gray;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.display {
    display: none;
}

.fw-700 {
    font-weight: 700;
}

.col-25 {
    width: 25%;
}

.fs-5 {
    font-size: 0.5rem;
}

.fs-7 {
    font-size: 0.7rem;
}

.fs-9 {
    font-size: 0.9rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.align-center {
    align-items: center;
}

/* Main */

body {
    font-family: "Montserrat", sans-serif;
}

.main {
    height: calc(100% - var(--height-footer));

}

.footer {
    height: var(--height-footer);
    background-color: rgb(74, 74, 74);
    position: relative;
    z-index: 9999;
}

.sidebar {
    background-color: black;
    width: var(--width-sidebar);
    height: 100%;
    padding: 5px 10px;
}

.top-sidebar {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-sidebar .home {
    height: 30px;
}

.top-sidebar .elemento {
    align-items: center;
    gap: 10px;
}

.top-sidebar .logo {
    height: 30px;
    width: 30px;
}

.sidebar .home::before{
    content: "";
    background-color: yellowgreen;
    height: 100%;
    width: 2px;
    left: -10px;
    top: 0px;
    position: absolute;
}


.crea-playlist {
    font-size: 0.8rem;
    align-items: center;
    gap: 5px;
}

.crea-playlist i {
    background-color: gray;
    color: black;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 1.2rem;
}

.top-sidebar .playlist ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.7rem;
    max-height: 110px;
    overflow-y: auto;
}

.bottom-sidebar {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.bottom-sidebar div {
    display: flex;
    align-items: center;
    gap: 5px;
}



.bottom-sidebar .download img {
    height: 15px;
    width: 15px;
}

.bottom-sidebar .download span {
    font-size: 0.6rem;
}

.bottom-sidebar hr {
    width: 100%;
}

.bottom-sidebar .utente img {
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 50%;
}

.bottom-sidebar .utente span {
    font-size: 0.8rem;
    color: white;
}

.home {
    background-color: rgb(36, 35, 47);
    width: calc(100% - var(--width-sidebar));
    height: 100%;
    position: relative;
}

.home-header {
    height: 60px;
    width: calc(100% - var(--width-sidebar));
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 99999;
    padding: 0 10px;
}

.upgrade::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade h3 {
    position: relative;
    z-index: 1;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 0.5rem;
    padding: 10px 25px;
}

.upgrade h3:hover{
    font-size: 0.8rem;
    cursor: pointer;
}



.categorie ul {
    gap: var(--gap-categorie);
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.categorie li {
    position:relative;
    font-size: 0.6rem;
    color: gray;
}

.categorie .linea::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: yellowgreen;
    transform: rotate(180);
}


.home-main {
    height: 100%;
    overflow-y: scroll;
    padding: 10px 20px;
    padding-top: 80px;
}

.cartelle .griglia {
    gap: var(--gap-categorie);
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}

.cartelle .card {
    width: calc(100% / var(--col-music) - (var(--gap-music) * ((var(--col-music) - 1)) / var(--col-music)));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.recently-played .div{
    position: relative;
}

.recently-played .div img{
    position: relative;
    z-index: 2;
}

.recently-played .div span{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.recently-played .card i {
    position: absolute;
    fill: white;
    z-index: 1;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.cartelle .card h5 {
    text-align: center;
}


.cartelle p {
    font-size: 0.5rem;
    color: gray;
}

.artisti-popolari .card img {
    border-radius: 50%;
}

.footer .left img {
    height: 25px;
    width: 25px;
}

.footer {
    padding: 0 5px;
    align-items: center;
}

.footer .left {
    height: 100%;
    align-items: center;
}

.footer .center {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-shrink: 2;
}

.footer .right {
    align-items: center;
    justify-content: flex-end;
}

.footer .right #volume-slider {
    width: 60px;
}

.line{
    height: 6px;
    position:relative;
}

.center>.music{
    width: 100%;
}
.center .music .bar{
    flex-shrink: 2;
    width: 100%;
}

.music .played{
    width: 15%;
    background-color: rgb(197, 197, 197);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.music .player{
    width: 85%;
    background-color: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.volume .played{
    width: 15px;
    background-color: rgb(197, 197, 197);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.volume .player{
    width: 55px;
    background-color: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.footer .bar .played:after{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;
    display: none;
}

/* HOVER */
.tx-white-hover:hover{
    color: white;
    cursor: pointer;
    fill: white;
}

.bg-white-hover:hover{
    background-color: white;
    cursor: pointer;
}

.cursor:hover{
    cursor: text;
}

.footer .left .nome:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.big-fs:hover{
    font-size: 2rem;
    cursor: pointer;
}

.recently-played .div:hover img{
    z-index: 0;
}
.recently-played .div:hover{
    cursor: pointer;
}

.footer .bar:hover .played{
    background-color: yellowgreen;
}
.footer .bar:hover .played::after{
    display: block;
}